<div class="container">
  <form [formGroup]="clientForm" (ngSubmit)="createClient(clientForm.value)">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" formControlName="name" id="name">
    </div>
    <br>
    <div>
      <label for="email">Correo:</label>
      <input type="email" formControlName="email" id="email">
    </div>
    <br>
    <div>
      <label for="phone">Número:</label>
      <input type="text" formControlName="phone" id="phone">
    </div>
    <br>
    <div>
      <label for="user">Usuario:</label>
      <input type="text" formControlName="username" id="user">
    </div>
    <br><br>
    <div>
      <button type="submit">Agregar</button> <br>
      <button type="button">Cancelar</button>
    </div>
  </form>
</div>
