<div class="container">
  <form>
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name">
    </div>
    <br>
    <div>
      <label for="address">Dirección:</label>
      <input type="text" id="address">
    </div>
    <br>
    <div>
      <label for="phone">Número:</label>
      <input type="text" id="phone">
    </div>
    <br>
    <div>
      <label for="owner">Dueño:</label>
      <input type="text" id="owner">
    </div>
    <br><br>
    <div>
      <button type="submit">Agregar</button> <br>
      <button type="button">Cancelar</button>
    </div>
  </form>
</div>
