<div class="banner">
  <h1>Iniciar Sesión <span style="font-weight: 100;font-size: 20px;">(administrador)</span></h1>
  <form action="submit" style="text-align:left;">
    <label for="">Usuario: <br>
      <input id="Nombre" type="text" >
    </label>

    <label for="">Contraseña: <br>
      <input id="Contraseña" type="password" >
    </label>
      <input type="button" [routerLink]="['/admin/dashboard']" class="button" value="Iniciar Sesion" style="margin-left:0px !important;margin-top: 20px;"
      (click)="ingresar()"
      >
  </form>
</div>


<img src="../../assets/img/portada.png" alt="">
