
<mat-tab-group>
  <mat-tab label="Clientes">

    <mat-tab-group>
      <mat-tab label="Lista">
        <app-client-list></app-client-list>
      </mat-tab>
      <mat-tab label="Agregar">
        <app-client-create></app-client-create>
      </mat-tab>

    </mat-tab-group>

  </mat-tab>




  <mat-tab label="Restaurantes">

    <mat-tab-group>
      <mat-tab label="Lista">
        <app-restaurant-list></app-restaurant-list>
      </mat-tab>
      <mat-tab label="Agregar">
        <app-restaurant-create></app-restaurant-create>
      </mat-tab>

    </mat-tab-group>



  </mat-tab>
  <mat-tab label="Dueño">

    <mat-tab-group>
      <mat-tab label="Lista">
        <app-owner-list></app-owner-list>
      </mat-tab>
      <mat-tab label="Agregar">
        <app-owner-create></app-owner-create>
      </mat-tab>

    </mat-tab-group>



  </mat-tab>
</mat-tab-group>
