

<div class="banner">
  <h1>Tenemos todo listo <br> para cuando llegues!</h1>
  <p>Reserva tu pedido en el restaurante de Lima que
    mas desees, <br> personalízalo como desees, <br>
    decide si lo recogerás o deseas que te lo lleven <br>
    y Listo!</p>

 <button routerLink="user/register" class="button" style="margin-left:0;">Crea una cuenta GRATIS</button>
  <br>
  <p style="font-size: 14px; text-align: center;width: 200px ;">No necesitas tarjeta <br> de crédito</p>
</div>

<img src="../../assets/img/portada.png" alt="">

